@page
@model ProceduresModel
@{
    ViewData["Title"] = "Procedures";
   
}
<h4>@ViewData["Title"]</h4>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/images/0.-Albire-Dentara-2048x1090.jpg" />
                    <div class="text-center">Albirea Dintilor</div>
                    <div class="card-body">
                        <p class="card-text">Sistemul de albire pe care îl folosim este un produs farmacologic care poate fi eliberat sau aplicat doar de către doctorii stomatologi. Până azi este cel mai eficient și sigur sistem de albire disponibil în lume.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" asp-page="/Record">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/images/2.-Terapia-dentara-2048x1090.jpg" />
                    <div class="text-center">Terapie Dentara</div>
                    <div class="card-body">
                        <p class="card-text">Caria dentară reprezintă un proces patologic localizat, care se desfășoară în țesuturile dure dentare după erupția dinților, fiind influențat de un întreg complex de factori nocivi, locali și generali, externi și interni.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" asp-page="/Record">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/images/3.-ortodontie-2048x1088.jpg" />
                    <div class="text-center">Ortodontie</div>
                    <div class="card-body">
                        <p class="card-text">Ortodonția este un domeniu special al stomatologiei care se ocupa cu probleme legate de dezvoltarea arcadelor, poziția dinților si influentele musculaturii faciale si orale asupra vorbirii.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" asp-page="/Record">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/images/4.-Endodontie-2048x1090.jpg" />
                    <div class="text-center">Endodontie</div>
                    <div class="card-body">
                        <p class="card-text">Unul dintre cele mai mari progrese ale stomatologiei moderne a fost realizat în domeniul tratamentului bolilor pulpei dentare si a țesutului periapical. Specialitatea care se ocupa este endodonția.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" asp-page="/Record">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/images/5.-Parodontologie-2048x1089.jpg" />
                    <div class="text-center">Paradantologie</div>
                    <div class="card-body">
                        <p class="card-text">Această ramură a stomatologiei se ocupă cu diagnosticul și tratamentul bolilor ce distrug țesuturile de susținere a dinților. Acest țesut se numește parodonțiu.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" asp-page="/Record">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/images/1.-Igiena-2048x1089.jpg" />
                    <div class="text-center">Igiena</div>
                    <div class="card-body">
                        <p class="card-text">Factorul primar în etiologia bolii parodontale îl constituie placa bacteriană, care, din punct de vedere clinic, nu poate fi îndepărtată prin jet de apă sau clătire.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" asp-page="/Record">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>