@page
@using Microsoft.AspNetCore.Identity
@model AllProceduresModel
@{
    ViewData["Title"] = "Procedures";
}
<a type="button" class="btn btn-secondary" href="/Identity/Account/Manage">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"></path>
    </svg>
</a>
<br>
<br>
<h4 class="text-center">@ViewData["Title"]</h4>
<div class="text-end">
    <a class="btn btn-sm btn-dark" href="/Moderator/Procedures/CreateProcedure">Add Procedure</a>
    <a class="btn btn-sm btn-dark" href="/Moderator/Dentists/AllDentists">Dentist List</a>
</div>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    @* @foreach () {
                        <img src="@" />

                        <div class="text-center">@</div>

                        <div class="card-body">
                            <p class="card-text">@    </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">

                                    <a class="btn btn-sm btn-outline-secondary">Edit</a>

                                    <a class="btn btn-sm btn-outline-danger">Remove</a>

                                </div>
                            </div>
                        </div>
                            }*@

                </div>
            </div>
        </div>
    </div>
</div>