<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a asp-area="" asp-page="/Index" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="~/images/91f32e4d876b57c3da69dc405011ac11.ico" alt="Italian Trulli">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2 text-white" asp-area="" asp-page="/Index">Home</a></li>
                <li><a class="nav-link px-2 text-white" asp-area="" asp-page="/Procedures">Procedures</a></li>
                <li><a class="nav-link px-2 text-white" asp-page="/RecordForm">Book</a></li>
            </ul>

            <partial name="_LoginPartial.cshtml">

        </div>
    </div>
</header>