@using Microsoft.AspNetCore.Identity
@using Stomatology.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<div class="text-end">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
     

        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a id="manage" class="nav-link px-2 text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)</a>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                    <button id="logout" type="submit" class="btn btn-outline-light me-2">Logout</button>
                </form>
            </li>
        }
        else
        {

            <li class="nav-item">
                <a class="btn btn-outline-light me-2" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-warning" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>

        }
    </ul>
</div>
